.App {
  text-align: center;
}

.header{
  display: flex;
  justify-content: space-between;
}

.navigations{
  display: flex;
  li{
    margin:20px;
    text-decoration: none;
  }
}

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.singleProduct{
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin: 10px;
  text-overflow: inherit;
  img{
    width: 150px;
    height: 100px;
  }
}